extends ../layout

block content
  if (messages)
    if (messages.length > 0)
      each message in messages
        div(class="ms-alert ms-" + message.class)
          p=message.message


block menuitems
  a(href="admin/user")
    li=t('edit-user')
  a(href="admin/breeds")
    li=t('edit-breeds')
  